version: 2.1
orbs:
  node: circleci/node@3.0.0
workflows:
  node-tests:
    jobs:
      - node/test:
          store_test_results:
            path: /home/circleci/project/test/report/cucumber_report.html 
